$dark-bg: #333333;
$dark-bg-lighten: #4D4D4D;
$dark-bg-darken: #1A1A1A;
$dark-text: #FFFFFF;
$dark-accent: #016F79;

$light-bg: #DDDDDD;
$light-bg-lighten: #EBEBEB;
$light-bg-darken: #C4C4C4;
$light-text: #000000;
$light-accent: #02B5C6;
