:root {
  --bg-color: #{$dark-bg};
  --bg-color-lighten: #{$dark-bg-lighten};
  --bg-color-darken: #{$dark-bg-darken};
  --text-color: #{$dark-text};
  --accent-color: #{$dark-accent};
  --accent-color-hover: #{$light-accent}
}
